
/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' ,sans-serif;
}

@font-face {
    font-family: 'rustic';
    src: url('./Rustic Barn.otf') format('opentype');

}

body{

}



header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    text-decoration: none;
    
}

nav .a{
   margin-right: 20px;
}


.home {
   background: rgb(0, 0, 0);
   color: #373737;
   font-weight: 800;
   width: 1200px;
   height: 70vh;
   display: flex;
   font-family: Georgia, 'Times New Roman', Times, serif;
   margin: 70px 70px 70px 70px;
}

.homeCt {
    padding-inline: 60px;
    padding-top: 120px;
    padding-bottom: 60px;
}

.btn-box button {
    width: 100px;
    margin-top: 24px;
    
}

.homeCt h3 {
    font-weight: 800;
}





.imgctn {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;

}

#profilep img{
    width: 400px ;
    margin-top: -40px;
    /* position: absolute; */
    /* left: 50%; */
    /* transform: translate(-50%) ; */

}

/* SERVICE PAGE */

.Services {
    background-color: #000;
    width: 100%;
    height: 100%;
    /* padding-block: 70px; */
    /* padding-inline: 60px; */
    /* padding-top: 150px; */
    display: flex;
}

.imagecontain {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.imagecontain img {
    width: 200px;
    display: inline;

    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-rows: repeat(2, 1fr); */
    gap: 10px;
    padding-left: 30px;
    margin: 10px;
}


.content-box{
    background-color: #201f1f;
    height: 100%;
    max-width: 650px;
    padding: 100px 50px 70px 120px;
    margin-left: -50px;
    color:#000;
    

}
    
.intro {
    background-color: #1acfcf;
    padding: 100px 50px;
    height: 400px;
    width: 50%;
    margin-top: 200px;
    margin-right: -50px;
    z-index: 10;
    margin-left: 50px;
    box-shadow: black;
    box-shadow: 3px 3px 5px black; /* Shadow with offsets and blur */
    
    
}

.myportfolio{
    background-color:#201f1f ;
    margin-top: 70px;
    display: flex;
}

.imgctntwo {
    background-color: #000;
    width: 100%;
    max-width: 930px;
    display: grid;
    margin-top: 70px;
    margin-bottom: 70px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-left: 250px;
    padding-inline: 45px;
    padding-block: 70px;
    gap: 50px;
}

#imagep img
{
    width: 400px;
    border: 2px solid #fff;
    
}

#imagep img:nth-of-type(2) {
    
}






.contact {
    background-color: #3C3D37;
}

.contact h2 {
    text-align: center;
}

.contactimg {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer{
    text-align: center;
}









    







    
    
}

